{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    {% block title %} <title>Optima-TI</title> {% endblock %}
  </head>
{% block header%}
{% endblock %}{% block navbar %}{% endblock %}
{% block article %}{% endblock %}
{% block aside %}{% endblock %}
{% block footer %}{% endblock %}
{% block login %}
<body class="text-center">
<main class="form-signin">
    <form class="user" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo_opt.png' %}" alt="" width="200px">
      <h1 class="h3 mb-3 fw-normal">Ingrese sus credenciales</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="id_username" name="username" placeholder="name@example.com">
        <label for="floatingInput">Dirección Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Acceder</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2012–2022</p>
    </form>
  </main>
  </body>
{% endblock %}