{% extends "cotiza/base.html" %}

{% block title %}<title>Cliente</title>{% endblock %}

{% block menuCotiza %}
<div class="contaner ms-0">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Ingreso Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link opacity-50" href="#">Orden de Compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link opacity-50" href="#">Estado Cotizacion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link opacity-50" href="#">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link opacity-50" href="#">Responsable</a>
      </li>
    </ul>
  </div>
{% endblock menuCotiza %}
{% block article %}
  <div class="container p-0 m-0">
    <h4 class="fs-5 p-2">Ingreso de clientes.</h4>
    <p class="ps-2">Ingreso de información de cliente</p>
  </div>
  <div class="container p-0 m-0">
    <div class="row p-0">
      <div class="col-12 p-3">Datos de Empresa</div>
      <div class="col-5">
          <div class="input-group mb-2">
            <span class="input-group-text">Nombre Empresa</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
     
          <div class="input-group mb-2">
            <span class="input-group-text">Rut</span>
              <input type="text" aria-label="Rut" class="form-control">
          </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Direccion</span>
              <input type="text" aria-label="Direccion" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Ciudad</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Provincia</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Pais</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Telefono</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Celular</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-2">
            <span class="input-group-text">Email</span>
              <input type="text" aria-label="Primer Nombre" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="row p-0">
            <div class="col">
              <div class="input-group mb-2">
                <span class="input-group-text">Nombre Contacto</span>
                  <input type="text" aria-label="Primer Nombre" class="form-control">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text">Apellido</span>
                  <input type="text" aria-label="Primer Nombre" class="form-control">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text">Email</span>
                  <input type="text" aria-label="Primer Nombre" class="form-control">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text">Celular</span>
                  <input type="text" aria-label="Primer Nombre" class="form-control">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text">Cargo</span>
                  <input type="text" aria-label="Primer Nombre" class="form-control">
              </div>
              <div class="input-group mb-2">
                <span class="input-group-text">Observaciones</span>
                  <textarea type="form-control" aria-label="Primer Nombre" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 d-md-block">
                <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Ingresar</a>
              </div>
        </div>
        <div class="col">
            <div class="d-grid gap-2 d-md-block p-2">
                <a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Modificar</a>
              </div>
        </div>

    </div>
  </div>

{% endblock article %}

